<!doctype html>
<html lang="en">

<!-- Página de confirmação de encerramento de uma etapa do processo de seleção para o projeto -->

<head>

    <% include ../partial/head.html %>

</head>

<body>

	<div id="pageDiv">

	    <!--Header-->
	    <% include ../partial/header.html %>
	    
	    <br><br><br>

	    <div class="col-xs-9 col-sm-10" style="margin:auto">
		    <p><%= message %></p>

		    <form action="" method="post">
		        <button type="submit" class="btn btn-info" style="float: right"><%= btnTxt %></button>
		    </form>

	    </div>

	</div>

</body>

</html>
