<!doctype html>
<html lang="en">

<!--Página para mensagem ao usuário(registro realizado/email de recuperação de senha enviado, etc) -->

<head>

    <% include partial/head.html %>

</head>

<body>
	<div id="pageDiv">

	    <!--Botões de navegação-->
	    <% include partial/header.html %>

	    <div class="col-xs-12 col-sm-8" style="margin:auto">
	    	<p><%= message %></p>
	    </div>

	</div>
</body>

</html>
