<!doctype html>
<html lang="en">

<!--Página para recuperação de senha -->

<head>

    <% include ../partial/head.html %>

</head>

<body>
    <div id="pageDiv">
        
        <!--Botões de navegação-->
        <% include ../partial/header.html %>
        
        <h2>Senha esquecida</h2>
        <br>

        <div class="col-xs-6 col-sm-4 col-lg-4" style="margin:auto">

            <p>Digite seu e-mail e lhe enviaremos o link para recuperar sua conta</p>

            <form action="" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" name="email" id="email">
                </div>
                <% if (message != '') { %>
                <p class="text-center text-danger"><%= message %></p>
                <% } %>
                
                <button id="btn" type="submit" class="btn btn-primary">Enviar</button>

            </form>

        </div>

    </div>
</body>

</html>
